
	<div class="col-lg-8" >
		<div class="row">
			<div class="col-lg-6" *ngFor="let div of repetativeDiv">
				<a class="btn btn-primary" href="#" (click)="isCollapsed = !isCollapsed" role="button"
					aria-expanded="false" aria-controls="collapseExample">
					Link with href
				</a>
				<div [collapse]="isCollapsed">
					<div class="card card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
						Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
						proident.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">

	</div>
